*~
*#
.#*
.cache
.lsp-session-v1
elpa
groovy-language-server
ido.last
lsp-cache
projectile-bookmarks.eld
projectile.cache
places
transient
url
straight
.mc-lists.el
.org-id-locations
bookmarks
org-roam.db
flycheck_ml.el
tree-sitter-module
/.DS_Store
/tree-sitter/
.dap-breakpoints